In [1]:
import os
import boto3
import io

import pandas as pd
from dotenv import load_dotenv

load_dotenv()

s3_client = boto3.client(
    service_name="s3",
    endpoint_url="http://localhost:9000",
    aws_access_key_id=os.getenv("MINIO_ACCESS_KEY"),
    aws_secret_access_key=os.getenv("MINIO_SECRET_KEY"),
    region_name="us-east-1",
)

In [ ]:
cust_info_response = s3_client.get_object(Bucket="business.analytics", Key="warehouse/bronze/cust_info.csv")

cust_info_df = pd.read_csv(io.StringIO(cust_info_response["Body"].read().decode('utf-8')))
cust_info_df

,Unnamed: 0,cst_id,cst_key,cst_firstname,cst_lastname,cst_marital_status,cst_gndr,cst_create_date
0,0,11000.0,AW00011000,Jon,Yang,M,M,2025-10-06
1,1,11001.0,AW00011001,Eugene,Huang,S,M,2025-10-06
2,2,11002.0,AW00011002,Ruben,Torres,M,M,2025-10-06
3,3,11003.0,AW00011003,Christy,Zhu,S,F,2025-10-06
4,4,11004.0,AW00011004,Elizabeth,Johnson,S,F,2025-10-06
...,...,...,...,...,...,...,...,...
18489,18489,29482.0,AW00029482,Clayton,Zhang,M,NaN,2026-01-25
18490,18490,29483.0,AW00029483,NaN,Navarro,NaN,NaN,2026-01-25
18491,18491,29483.0,AW00029483,Marc,Navarro,M,NaN,2026-01-27
18492,18492,NaN,13451235,NaN,NaN,NaN,NaN,NaN
18493,18493,NaN,A01Ass,NaN,NaN,NaN,NaN,NaN